
.cat-links, .posted-on, .byline, /*header.page-header*/ .page-title, #content > ul.default-wp-page.clearfix {
    display: none !important;
}

article.post {
    padding-top: 30px !important;
}

.more-link {
    font-size: 1.8em !important;
    display: block !important;
    /* margin: 0 auto !important; */
    padding-top: 25px !important;
    text-align: center !important;
}
