
#primary #content article {
    margin: 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}

#primary #content article img {
/*    width: auto !important;
    height: auto !important; */
    padding: 15px !important;
}

.no_bullets ul {
    list-style-type: none !important;
    padding-left: 0 !important;
}

.alignright {
    float: right !important;
}

.alignleft {
    float: left !important;
}

.aligncenter {
    display: block !important;
    margin: 0 auto !important;
}

.tag-links, .only-local {
    display: none !important;
}
